.enterModal{
    background-color: #151819;
    -webkit-box-shadow: -12px 1px 15px 0px rgba(0,0,0,1);
    -moz-box-shadow: -12px 1px 15px 0px rgba(0,0,0,1);
    box-shadow: -12px 1px 15px 0px rgba(0,0,0,1);
}

.enterModal .modal-content {
    background-color: #151819 !important;
    color: #91A3AD;
}

.enterModal .modal-header{
    font-family: Gotham !important;
}

.enterModal .modal-body {
    font-family: Gotham-book !important;
}

.enterModal .titleModal{
    margin-bottom: 20px;
}

.userInfo .comboBox {
    width: 100%;
    height: 38px;
}

.userInfo .form-control {
    border-radius: 0;
}

.userInfo .form-group{
    width: 100%;
}

.combobox {
    border-radius: 0;
    font-size: 15px;
}

.userInfo .comboBox input {
    height: 36px;
    border-radius: 0;
    font-size: 15px;
}
.userInfo .comboBox .rw-widget-container {
    border-radius: 0;
}

.userInfo .input-group-prepend{
    height: 37px;
}

.fieldClass {
    width: 100%;
}

.inputError{
    width: 100%;
}

.infoError{
    color: #ED145B;
}

.infoErrorBox{
    margin-bottom: 20px;
}

.fieldClass .invalid-feedback {
    margin-left: 0px;
}

.userInfo .fieldClass {
    margin-bottom: 0;
}